 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/header :: navbar" />

<div class="container">
	<div class="row" style="margin-bottom: -100px;">
		<div class="col-xs-8">

		</div>
		<div class="col-xs-4">
			<img src="/image/logo.png" class="img-responsive" />
		</div>
	</div>
	<hr
			style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;" />
	<img class="img-responsive" src="/image/banner.jpg"
		 style="margin-top: -75px;" />

	<div class="row" style="margin-top: 60px;">
		<div class="col-xs-9 col-xs-offset-3">

			<!-- Nav tabs -->
			<ul class="nav nav-tabs">
				<li th:classappend="${classActiveNewAccount}? 'active'"><a href="#tab-1" data-toggle="tab"><span
						style="color: red;">Kreiraj novi račun</span></a></li>
				<li th:classappend="${classActiveLogin}? 'active'"><a href="#tab-2" data-toggle="tab"><span
						style="color: red;">Log in</span></a></li>
				<li th:classappend="${classActiveForgetPassword}? 'active'"><a href="#tab-3" data-toggle="tab"><span
						style="color: red;">Zaboravljena šifra</span></a></li>
			</ul>

			<!-- Tab panels -->
			<div class="tab-content">

				<!-- create new user pane -->
				<div class="tab-pane fade" id="tab-1" th:classappend="${classActiveNewAccount}? 'in active'">
					<div class="panel-group">
						<div class="panel panel-default" style="border: none;">
							<div class="panel-body"
								 style="background-color: #ededed; margin-top: 20px;">
								<div class="alert alert-info" th:if="${emailSent}">
									Email je poslan na email adresu sa kojom ste se registrovali. Molimo potvrdite svoj profil i ažurirajte podatke.
								</div>
								<form th:action="@{/newUser}" method="post">
									<div class="form-group">
										<label for="newUsername">* Korisničko ime: </label>&nbsp;<span style="color:red;"
										th:if="${usernameExists}">Korisničko ime je zauzeto, pokušajte neko drugo.</span>
										<input
											required="required" type="text" class="form-control"
											id="newUsername" name="username" />
										<p style="color: #828282">Ukucajte korisničko ime:</p>
									</div>

									<div class="form-group">
										<label for="email">* Email adresa: </label>
										<span style="color:red;"
											  th:if="${emailExists}">Email već postoji, ukucajte neki drugi.</span>
										 <input
											required="required" type="text" class="form-control"
											id="email" name="email" />
										<p style="color: #828282">Validna email adresa. Email adresa neće biti javna,
											koristiti ćete je samo za promjenu šifre i dolazak obavjesti ako to odaberete</p>
									</div>

									<button type="submit" class="btn btn-primary">Kreiraj novi profil</button>
								</form>
							</div>
						</div>
					</div>
				</div>



				<!-- log in -->
				<div class="tab-pane fade" id="tab-2" th:classappend="${classActiveLogin}? 'in active'">
					<div class="panel-group">
						<div class="panel panel-default" style="border: none;">
							<div class="panel-body"
								 style="background-color: #ededed; margin-top: 20px;">
									<div th:if="${param.error != null}" style="color:red;">Netačno korisničko ime ili lozinka.</div>
									<form th:action="@{/login}" method="post">
									<div class="form-group">
										<label for="username">* Korisničko ime: </label> <input
											required="required" type="text" class="form-control"
											id="username" name="username" />
										<p style="color: #828282;">Ukucajte korisničko ime:</p>
									</div>

									<div class="form-group">
										<label for="password">* Lozinka: </label> <input
											required="required" type="password" class="form-control"
											id="password" name="password" />
										<p style="color: #828282;">Ukucajte lozinku</p>
									</div>

									<button type="submit" class="btn btn-primary">Prijavi se</button>
								</form>
							</div>
						</div>
					</div>
				</div>

				<!-- forget password -->
				<div class="tab-pane fade" id="tab-3" th:classappend="${classActiveForgetPassword}? 'in active'">
					<div class="panel-group">
						<div class="panel panel-default" style="border: none;">
							<div class="panel-body"
								 style="background-color: #ededed; margin-top: 20px;">
								<div th:if="${emailNotExist}" class="alert alert-danger"> Email ne postoji. </div>
								<div th:if="${forgetPasswordEmailSent}" class="alert alert-success"> Email poslan. </div>
									<form th:action="@{/forgetPassword}" method="post">
									<div class="form-group">
										<label for="recoverEmail">* Vaš Email: </label> <input
											required="required" type="text" class="form-control"
											id="recoverEmail" name="email" />
										<p style="color: #828282">Ukucajte email adresu sa kojom ste se registrovali.</p>
									</div>

									<button type="submit" class="btn btn-primary">Pošalji</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end of container -->

<div th:replace="common/header :: footer"/>

<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
